.businessHead {
	width: 7.5rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	background-color: #fff;
	color: #333;
	font-size: .3rem;
	position: fixed;
	top: 0;
	z-index: 11111;
	border-bottom: 1px solid #dfdfdf
}

.businessHead .imgSeacher {
	width: .38rem;
	height: .36rem;
	display: none;
	right: 0;
	top: 0;
	margin-right: .22rem;
	margin-top: .22rem;
	position: absolute;
	z-index: 111
}

.businessHead .imgSeacher.active {
	display: inline-block
}

.businessHead .imgBack {
	width: .19rem;
	height: .37rem;
	left: 0;
	display: none;
	margin-left: .4rem;
	margin-top: .21rem;
	position: absolute;
	z-index: 111
}

.businessHead .imgBack.active {
	display: inline-block
}